@media screen and (max-width: 1300px)
   .nav__logo 
      top: -27px
      left: -301px
      width: 475px
      height: 147px
   .main__block
      left: 0
   .tabs__btns div
      font-size: 19px
   .order__pic
      height: 695px
   .footer__last p
      margin-right: 194px
@media screen and (max-width: 1199px)
   .menu-btn, .menu
      display: block
   .menu-btn 
      width: 48px
      height: 24px
      position: absolute
      right: 26px
      top: -9px
      z-index: 11
      overflow: hidden
      background: url(/img/bur1.png) no-repeat center center
      &.active 
         background: url(/img/bur2.svg) no-repeat center center
   .menu 
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 100px 40px 
      background: #030303
      transform: translateX(-100%)
      transition: transform 0.5s
      z-index: 10
      overflow: hidden
      &.active
         transform: translateX(0%)
      .nav__list 
         flex-direction: column
         display: flex
         text-align: center
         gap: 25px
      .nav__info 
         margin-top: 50px
         margin-left: 0
         flex-direction: column
         justify-content: center
         align-items: center
         display: flex
   .top, .nav__list, .nav__info
      display: none
   .nav 
      background: #030303
      z-index: 40
      padding: 21px 0
      &__box 
         position: relative
   .nav__logo 
      top: 22px
      left: -237px
      width: 475px
      height: 24px
   .header__wrap h1
      font-size: 36px
      line-height: 36px
   .header__wrap p
      margin: 13px 0 20px
      font-size: 16px
      line-height: 16px
   .header__flex div 
      width: 125px
      height: 41px
      font-size: 21px
      line-height: 21px
   .header__row
      flex-wrap: wrap
      justify-content: space-between
   .header__row div
      width: 49%
   .header__img
      top: -36px
   .main__item
      width: 25.63%
   .main__block
      width: 73.63%
   .arrow
      display: none
   .catalog .swiper1 
      margin-bottom: 43px
      overflow: visible
      width: 89%
   .tabs__btns
      justify-content: center
   .tabs__pic
      width: 302px
   .tabs__title
      font-size: 21px
   .order__wrap
      flex-direction: column
   .order__content
      width: 100%
   .order__content h2
      text-align: center
   .order__text
      text-align: center
   .order__tel
      justify-content: center
   .order__socials
      justify-content: center
   .order__mail, .order__time
      justify-content: center
   .order__btn
      margin: 0 auto
   .order__pic 
      height: 285px
      width: 100%
   .info
      padding: 70px 0
   .info__wrap
      padding: 30px 0
   .info__wrap h2
      font-size: 42px
      margin-bottom: 24px
   .footer__box
      flex-direction: column
      align-items: center
   .footer__logo
      margin: 0 auto 12px
      display: block
   .footer__list
      display: none
   .footer__area p
      margin-bottom: 40px
   .footer .top__item
      justify-content: center
   .footer__content
      padding-right: 0
   .footer__last
      margin-top: 50px
   .footer__bottom
      flex-direction: column-reverse
      align-items: center
   .footer__links
      gap: 15px 
      flex-direction: column
      align-items: center
   .footer__last p 
      margin-top: 25px
      margin-right: 0
   .footer
      padding-top: 40px
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .header__row div
      width: 48.8%
@media screen and (max-width: 767px)
   .header__wrap h1 
      font-size: 28px
      line-height: 28px
   .header__pic
      width: 100%
   .header__wrap p
      font-size: 14px
      line-height: 14px
   .header__flex div 
      width: 125px
      height: 35px
      font-size: 16px
      line-height: 16px
   .header__flex
      gap: 12px
   .header__btn
      height: 46px
      font-size: 14px
   .btn .svg
      width: 22px
   .header__pic
      margin-bottom: -50px
   .header__row div 
      width: 48.3%
      font-size: 14px
      line-height: 17px
   .header
      padding-bottom: 25px
   .main
      padding: 50px 0 20px
   .main__block
      width: 100%
      text-align: center
   .main__block h2 
      text-align: center
      font-size: 32px
      line-height: 32px
      margin-bottom: 12px
   .main__block p
      font-size: 14px
      width: 100%
      max-width: 292px
      white-space: initial
      margin: 0 auto 24px
      br 
         display: none
   .main__item img
      width: 50px
   .main__item p
      font-size: 14px
      line-height: 17px
   .catalog__title
      padding: 19px 0
      h2
         font-size: 32px
         line-height: 32px
   .catalog__name
      font-size: 16px
      line-height: 16px
   .catalog .swiper1 .swiper-slide
      height: 61px
   .tabs__btns div
      font-size: 14px
      height: 31px
      line-height: 14px
   .tabs__btns
      margin-bottom: 25px
   .tabs__area
      flex-direction: column
      align-items: center
   .tabs__info 
      width: 100%
      max-width: 100%
      margin-left: 0
   .tabs__link, .tabs__link2 
      width: 100%
      height: 46px
   .tabs__sum
      font-size: 21px
      height: 45px
      width: 160px
   .catalog
      padding-bottom: 50px
   .order__content
      padding: 27px 0
   .order__content h2 
      font-size: 32px
      line-height: 36px
      margin-bottom: 18px
   .order__tel div p
      font-size: 16px
      line-height: 16px
      margin-bottom: 8px
   .order__tel div a
      font-size: 26px
      line-height: 26px
   .order__text
      font-size: 16px
      line-height: 16px
   .order__mail a, .order__time div p, .order__time div span
      font-size: 16px
      line-height: 16px
   .order__time div span
      display: block
      margin-bottom: 10px
   .order__btn
      width: 90%
      height: 46px
      font-size: 14px
   .info__wrap h2 
      line-height: 32px
      font-size: 32px
      width: 100%
      max-width: 307px 
      margin: 0 auto 20px
   .info__text 
      font-size: 14px
      line-height: 19px
      margin-bottom: 24px
   .info__btns
      margin-bottom: 30px
      flex-direction: column
      a 
         width: 90%
         margin: 0 auto
   .info__flex
      flex-direction: column 
      gap: 30px
   .info__item 
      margin: 0 auto
      align-items: center
      width: 226px
   .info
      padding: 50px 0
   .footer__logo
      width: 200px
   .footer__area p
      font-size: 12px
   .footer__last
      margin-top: 30px
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important
   .mob 
      display: block !important
   .info__text
      width: 100%
      max-width: 307px 
      margin: 0 auto 24px 
      br 
         display: none
   .catalog .swiper1
      width: 108%
   .main__item
      width: 44.63%
      margin-bottom: 15px
   .header__row div 
      padding-left: 15px
      width: 48.5%
      height: 81px
      padding-right: 15px
   .header__row div img 
      width: 25px
      margin-right: 19px
   .nav__logo 
      top: 22px
      left: -288px
      width: 475px
      height: 24px
      z-index: 0
   .menu-btn
      right: 0
   .header__wrap p
      width: 100%
      max-width: 335px
      margin: 13px auto 20px
   .header__row
      gap: 10px
   .popup-call__box h2
      font-size: 30px
      line-height: 30px
   .popup__text 
      font-size: 14px
      line-height: 22px
      margin-bottom: 22px
      br 
         display: none
   .popup__form input
      margin-bottom: 15px
   .popup-call__box
      margin-left: 0
      left: 0
      width: 100%
   .arcticmodal-container_i
      width: 100%
   .popup__form input
      height: 50px
      font-size: 14px
      padding-left: 15px
   .popup__form button
      height: 50px
      font-size: 16px
   .popup__sub
      font-size: 10px
@media screen and (max-width: 360px)
   .header__row div
      width: 48.3%
   .header__row div img
      margin-right: 12px